$COLOR-FIGMA-BLUE: #18a0fb;
$COLOR-SNAPPY-YELLOW: #FEF79E;
$COLOR-WHITE-SECONDARY: #f8f8f8;
$COLOR-TEXT-LIGHTGRAY: #f0f0f0;
$COLOR-TEXT-GRAY: #cccccc;
$COLOR-TEXT-DARKGRAY: #A1A1A1;
$COLOR-WHITE: #ffffff;
$COLOR-BLACK: #000000;

$FIGMA-UI-WIDTH: 320px;
$FIGMA-UI-HEIGHT: 480px;
