@import '../../../styles/variables.scss';

.form__input_label {
  max-lines: 1;
  line-clamp: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:
   nowrap;
  max-width: 80vw;
}
