@import '../../styles/variables.scss';

.container {
  height: fit-content;
  width: 100%;
  width: $FIGMA-UI-WIDTH;
}

.vStack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 0px 7rem 0px;
}

.HStack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.fixed {
  z-index: 99;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
}
.HStackTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  gap: 10px;
  padding: 0px 12px;
}

.tab {
  color: rgba(33, 33, 33, 0.3);
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.activeTab {
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-bottom: 2px solid black;
}

.tab:hover,
.tab:focus {
  color: rgba(34, 34, 34, 0.3);
}
.tab:focus {
  outline-offset: -4px;
}
