.VStackContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.HStack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
}

.HStackTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  gap: 10px;
  padding: 0px 12px;
}
.tab {
  color: rgba(33, 33, 33, 0.3);
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.activeTab {
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color: transparent;
  border: none;
}
.tab:hover,
.tab:focus {
  color: rgba(34, 34, 34, 0.3);
}
.tab:focus {
  outline-offset: -4px;
}
