@import './styles/variables.scss';

html {
  scroll-behaviour: smooth;
}
body {
  margin: 0;
  background: $figma-color-bg;
}

.container {
  position: relative;
  width: $FIGMA-UI-WIDTH;
  height: calc(100vh - 3rem);
  padding-top: 3rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  height: 50px;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: $COLOR-TEXT-DARKGRAY;
}
