@import './styles/variables.scss';

body {
  margin: 0;
}

.container {
  padding: 0;
  width: $FIGMA-UI-WIDTH;
  height: $FIGMA-UI-HEIGHT;
}
.loginContainer {
  padding: 24px 0px;
}

.buttonContainer {
  display: flex;
}

.verticalStack {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginText {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 0 28px;
}

.loginButton {
  width: 100%;
  padding-top: 4rem;
}

footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: $COLOR-TEXT-DARKGRAY;
}
