.container {
  width: 100%;
  height: 100%;
}

.heading {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.input_label {
  color: rgb(66, 66, 66);
  height: full;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}

.input_label_heading {
  height: full;
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
}

.hStack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.7rem;
}

.flex {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  cursor: pointer;
}

.toggleContainer {
  padding: 1.4rem 0.4rem 1.4rem 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1.3rem;
}
select {
  width: 52px !important;
  color: rgb(121, 121, 121);
}

.stackSlider {
  width: -webkit-fill-available;
}

.seedInput {
  height: 'fit-content';
  border: 1px solid;
  border-color: rgb(197 197 197);
  color: rgb(121, 121, 121);
  border-radius: 3px;
  resize: none;
  box-shadow: none;
  width: -webkit-fill-available;
  padding: 8px;
}

.modifiersContainer {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

::placeholder {
  padding: 8px;
}

select {
  border: 0px;
  outline: 0px;
}
