@import '../../styles/variables.scss';

.base {
  width: -webkit-fill-available;
  height: 2.3rem; // todo: make this height proper as per design
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  border-radius: 3px;
  margin: 8px 20px;
}

.primary {
  background-color: $COLOR-SNAPPY-YELLOW;
  border: 1px solid #f5f517;
  color: black;
  &:hover {
    background-color: $COLOR-FIGMA-DARK-YELLOW;
    border: 1px solid #ffff60;
    cursor: pointer;
  }
}
