@import '../styles/variables.scss';

.container {
  height: calc(100% - 54px);
  width: 100%;
  width: $FIGMA-UI-WIDTH;
  //height: $FIGMA-UI-HEIGHT;
}

.vStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ------------------------ //

.loginContainer__spacing {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.textContainer {
  padding: 0px 26px;
}

.loginHeading {
  font-size: 18px;
  font-weight: 400;
  color: $figma-color-text;
  text-align: center;
}

.loginText {
  font-weight: 300;
  font-size: 13px;
  padding: 0px 8px 0px 8px;
  text-align: center;
  color: $COLOR-TEXT-DARKGRAY;
}

.loginButton {
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.svgContainer {
  transform: translateY(-10px);
}

.dotButton {
  display: block;
  border: 0px;
  border-radius: 50%;
  background-color: $COLOR-TEXT-LIGHTGRAY;
  width: 4.5px;
  height: 4.5px;
  :hover {
    cursor: pointer;
  }
}
.hStack {
  transform: translateY(-1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
