@import '../../../styles/variables.scss';

.container {
  width: 100%;
  height: -webkit-fill-available;
}

.form {
  padding: 0rem 20px 0rem 20px;
  height: calc(100%);
  width: -webkit-fill-available;
}

.vStack {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.input_label {
  font-weight: 400;
  font-size: 13px;

  padding-bottom: 0.4rem;
}
.input_textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  resize: none;
  box-shadow: none;
  width: -webkit-fill-available;
  height: 4.5rem;
  padding: 0.7rem;
}

.vStackSlider {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  height: fit-content;
}

.hStack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
}

.gap {
  gap: 1.2rem;
}

.hStackSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

select {
  height: 28px !important;
  width: 35px;
  border-radius: 4px;
  outline: none;
  padding: 1rem;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #e2dada !important;
}

.buttonMainContainer {
  position: fixed;
  width: -webkit-fill-available;
  left: 0px;
  bottom: 1rem;
  height: 5rem;
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  margin: 0px 8px 2.2rem 8px;
}

.button {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  border-radius: 3px;
  background-color: $COLOR-SNAPPY-YELLOW;
  border: 1px solid #f5f517;
  color: black;

  &:hover {
    background-color: $COLOR-FIGMA-DARK-YELLOW;
    border: 1px solid #d0d015;
    cursor: pointer;
  }
}

.buttonText {
  z-index: 99;
}
.proButtonContainer {
  width: 100%;
}
.buttonContainerStack {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  margin: 0px 8px 0px 8px;
}
.nonProButtonContainer {
  margin: 0px 10px 0px 0px;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2.2rem;
  background: white;
}

.nonProButton {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  border-radius: 3px;
  background-color: $COLOR-SNAPPY-YELLOW;
  border: none;
  color: black;
  &:hover {
    background-color: '#ADAD00';
    cursor: pointer;
  }
}

.getProButton {
  width: 30%;
  font-size: 12px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  border-radius: 3px;
  background-color: #f0f0f0;
  border: none;
  color: black;
  &:hover {
    background-color: $COLOR-TEXT-LIGHTGRAY;
    cursor: pointer;
  }
}

select {
  word-wrap: none;
  height: 2.5rem;
  border: 1px solid $COLOR-TEXT-DARKGRAY;
  background-color: transparent;
  border-radius: 3px;
  padding: 0.1rem;
  margin: 0;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 300;
  font-size: 12px;
}

.selectImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: 4rem;
  width: -webkit-fill-available;
  border: 1px dashed;
  border-color: $COLOR-TEXT-GRAY;
  border-radius: 4px;
}

.selectImageText {
  font-size: 12px;
  font-weight: 300;
  color: $COLOR-TEXT-GRAY;
  text-align: center;
}

.selectedImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
  border-color: $COLOR-TEXT-GRAY;
  border-radius: 4px;
  //height: 8rem;
  width: 100%;
  //max-height: 340px;
  overflow: hidden;
}
.selectedImage {
  width: 100%;
  //height: 100%;
  object-fit: cover;
}
